<!-- home.html -->

{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Welcome to ecoShop{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css '%}"
{% endblock %}
{% block content %}
    <h1> Welcome {{ user.username }} !!! </h1>
    <button type="button" onclick="window.location.href='/logout/' ">Logout</button>

<br><br>
<form action="#" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.pic}} <br><b>Name:</b> {{form.name}} <br><b>Description:</b> {{form.description}}
    <br>
    <input type="submit" value="Upload" />
</form>
{% for img in images %}
{{forloop.counter}}.<a href="{{ img.pic.url }}">{{ img.pic.name }}</a> | <a href="{% url 'detail' img.id %}">click to view comments</a>
({{img.upload_date}}) <img src="{{ img.pic.url }}"><br>{{ img.name }}<br>{{ img.description }}<br><br>
{% endfor %}

{% endblock %}