<!-- home.html -->

{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Welcome to EcoShop{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css '%}">
{% endblock %}
{% block content %}
    <h1> Welcome {{ user.username }} to EcoShop!!! </h1>
    <button type="button" onclick="window.location.href='/logout/' ">Logout</button>
<table><tr><td>
<form action="#" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.pic}} <br><b>Name:</b> {{form.name}} <br><b>Price:</b> {{form.description}}
    <br>
    <input type="submit" value="Upload" />
</form></td>
<td>
<h2>Your Listings</h2><div style="margin: 12px; overflow-y: scroll; overflow-x: hidden; height: 400px;">
{% for img in images %}
{{forloop.counter}}.{{ img.pic.name }}<br>
    <img src="{{ img.pic.url }}" style="width: 50px; height: 50px;"><br><b>{{ img.name }}</b><br>{{ img.description }}<br><br>
{% endfor %}</div></td>
    </tr>
</table>
{% endblock %}